/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s; /* Transição suave para mudanças de cor */
}

#calendar {
    background-color: #fff; /* Cor de fundo padrão do calendário */
    color: #333; /* Cor do texto padrão do calendário */
}

/* Estilos para o botão de tema */
#theme-toggle {
    padding: 10px 20px;
    background-color: #007bff; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

#theme-toggle:hover {
    background-color: #0069d9; /* Cor do botão ao passar o mouse */
}

/* Estilos para o calendário */
#calendar {
    background-color: #fff; /* Cor de fundo do calendário no tema claro */
    color: #333; /* Cor do texto do calendário no tema claro */
}

/* Estilos para os dias do calendário */
.day {
    background-color: #fff; /* Cor de fundo dos dias */
}

/* Estilos para o modal */
.modal-content {
    background-color: #fefefe; /* Cor de fundo do modal */
    border: 1px solid #888; /* Cor da borda do modal */
}

/* Estilos para o botão de fechar */
.close {
    color: #aaa; /* Cor do botão de fechar */
}
